<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<script src="/jquery-3.2.1.min.js"></script>
		<form name="blockSubmitForm" method="post" action="/submitBlock">
            <h1>Submit new block</h1>
            <p>
                <div><label for="prevHash">Previous block's hash</label></div>
                <div><input type="text" id="prevHash" name="prevHash" size="40" value="{{hash}}"></div>
            </p>
            <p>
                <div><label for="miner">Miner</label></div>
                <div><input type="text" id="miner" name="miner" size="40"></div>
            </p>
            <p>
                <div><label for="payload">Payload</label></div>
                <div><input type="text" id="payload" name="payload" size="40"></div>
            </p>
            <p>
                <div><label for="nonce">Nonce (decimal)</label></div>
                <div><input type="text" id="nonce" name="nonce" size="40"></div>
            </p>
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>
        <div id="warnings" style="color:red;"></div>
        <script>
            var intervalID = setInterval(
                function() {
                    var prevHash = $("#prevHash")[0].value;
                    $.ajax("/blocks/" + prevHash + "/status")
                        .done(function(res) {
                            var warns = "";
                            if (!res.isOnMainLine) warns = warns + "Warning: the above block is not on the main line!\n";
                            if (!res.isLeaf) warns = warns + "Warning: a successor to the above block has already been mined!\n";
                            $("#warnings").html(warns);
                        })
                        .fail(function(res) { $("#warnings").html("Warning: previous block not found!"); } );
                }, 2000);
		</script>
    </body>
</html>
