<html>
	<head>
	</head>
	<body>
        <h1>Block rejected</h1>
        <p>Your block has been rejected due to:</p>
        <p>{{reason}}</p>
        <p>Hit Back to try again or <a href="/">return to chain view</a></p>
	</body>
</html>
