<html>
	<head>
	</head>
	<body>
        <h1>Block accepted</h1>
        <p>Your block has been accepted onto the chain.</p>
        <p><a href="/newBlockForm/{{hash}}">Submit another block on this line</a></p>
        <p><a href="/">Back to chain view</a></p>
	</body>
</html>
